@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Source+Sans+Pro&display=swap" rel="styleshee');

$main-font: 'Montserrat', sans-serif;
$sub-font: 'Open Sans', sans-serif;
$anotuher_font: 'Source Sans Pro', sans-serif;