.projects {

    &__border {
        border-bottom: 1px solid $color-text;
        width: 100px;
        position: absolute;
        margin-bottom: 30px;
        left: 112px;
        top: -30px;

    }
    
    &__container {
        z-index: 100;
        background: $color-menu;
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__box {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 70px;
        margin-bottom: 177px;


        &:first-child {
            margin-bottom: 90px;
        }

        &:last-child {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            gap: 70px;
            margin-bottom: 150px;
        }
        
    }

    &__squere {
        &-blue {
            position: absolute;
            width: 575px;
            height: 470px;
            background: $color-sub;
            left: -215px;
            top: -57px;
            z-index: 1;
        }

        &-violet {
            position: absolute;
            width: 575px;
            height: 470px;
            background: $color-violet;
            right: -215px;
            top: -57px;
            z-index: 1;
        }
    }

    &__img {
        max-width: 630px;
        z-index: 10;
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 470px;
        justify-content: center;
        align-items: flex-start;

        &-title {
            margin-bottom: 19px;
        }

        &-text {
            margin-bottom: 40px;
        }

        &-button {
            margin-bottom: 60px;
        }
    }

    
}

//first end

.news {

    &__border {
        border-bottom: 1px solid $color-menu;
        width: 100px;
        position: absolute;
        margin-bottom: 30px;
        left: 112px;
        top: -30px;

    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
        position: relative;
    }

    &__title {
        color: $color-menu;
        margin-bottom: 90px;
    }

    &__box {
        display: flex;
        gap: 30px;

        &:first-child {
            margin-top: 120px;
            position: relative;
        }
    }

    &__card {
        max-width: 370px;
        background: $color-menu;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 170px;

        &-content {
            max-width: 330px;
        }

        &-title {
            margin-bottom: 15px;
        }

        &-text {
            margin-bottom: 39px;
        }

        &-upper {
            display: flex;
            gap: 20px;
            margin-bottom: 30px;
        }

        &-sign {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        &-name {
            color: $color-text;
        }

        &-photo {
            border-radius: 50px;
            max-width: 60px;
        }
    }

    &__bg-img {
        position: absolute;
        top: 0;
        left: 0;        
        min-width: 50%;
        opacity: 0.9;
        height: 100%;
    }
}

//second ends

.gallery {

    &__container {
        background: $color-menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__border {
        border-bottom: 1px solid $color-text;
        width: 100px;
        position: absolute;
        margin-bottom: 30px;
        left: 56px;
        top: -33px;
    }

    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        
        &:first-child {
            margin-top: 180px;
            position: relative;
            margin-bottom: 81px;
        }

        &-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:center;
            flex-wrap: wrap;
            max-width: 580px;
            gap: 10px;
            margin-bottom: 60px;
        }

        &-item {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            &--img {
                max-width: 285px;
            }
        }

        &-img {
            max-width: 580px;
            margin-right: 10px;
            position: relative;
        }

        &-lupa {
            position: absolute;

            &--button{
                position: relative;
                width: 70px;
                height: 70px;
               opacity: 0;
            }

            &--img {
                position: absolute;
                top: 0;

                &:hover {
                    width: 85px;
                    height: 85px;
                    transition: 0.0003ms;
                }
            }
        }
    }

    

    &__button {
        color: $color-text;
        margin-bottom: 150px;
    }
}

.contact {

    &__border {
        border-bottom: 1px solid $color-text;
        width: 100px;
        position: absolute;
        margin-bottom: 30px;
        left: 328px;
        top: 30px;

    }

    &__title {
        color: $color-text;
        margin-bottom: 90px;
        margin-top: 60px;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__map {
        width: 100%;
        height: 586px;
    }

    &__form {
        position: absolute;
        width: 770px;
        z-index: 100;
        background: $color-menu;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 42px;
        bottom: -150px;
    }
}