.header {
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-violet;
        flex-direction: column;
        position: relative;
    }

   &__box {

        &:first-child {
            margin-top: 53px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 125px;
            margin-bottom: 188px;
            flex-direction: row;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
    }
    
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14px;
            color: $color-menu;
        }
        &-img {
            width: 9px;
            height: 9px;
            z-index: 10;

            &:hover {
                fill: $color-menu;
            }
        }
    }

    &__img {
        max-width: 241px;
        max-height: 54px;
    }

    &__social{
        gap: 20px;
        display: flex;

        &-item {
            max-width:40px;
            cursor: pointer;
        }
    }

    &__bg-img {
        position: absolute;
        top: 0;
        left: 0;        
        min-width: 100%;
        opacity: 0.3;
        height: 100%;
    }

    &__text {
        margin-bottom: 240px;
        letter-spacing: 0.3em;
    }

    &__button {
        border-radius: 50px;
        width: 40px;
        height: 40px;
        background: $color-violet;
        border: 1px solid $color-menu;
        margin-bottom: 50px;
    }
}